<div class="row">
    <div class="col-md-12">
        <table class="table" border="0">
            <tr>
                <td class="td-posicao text-center">1°</td>
                <td class="td-resultado"><strong><label class="label-custon"><span id="campeao"></span></label></strong></td>
            </tr>
        </table>
    </div>
</div>
<br />
<div class="row">
    <div class="col-md-12">
        <table class="table" border="0">
            <tr>
                <td class="td-posicao text-center">2°</td>
                <td class="td-resultado"><strong><label class="label-custon"><span id="vice"></span></label></strong></td>
            </tr>
        </table>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <button id="btnNovo" class="btn btn-custon" onclick="retornaInicio()">GERAR NOVO CAMPEONATO</button>
    </div>
</div>


