<div class="row">
    <div class="col-md-12">
        <table class="table" border="0">
            <tr>
                <td style="background-color: dimgray; font-size: 30px; color: white; padding: 15px; width: 10%" class="text-center">1°</td>
                <td style="background-color: white; color: dimgray; padding: 25px; font-size: 18px;"><label><span id="campeao"></span></label></td>
            </tr>
        </table>
    </div>
</div>
<br />
<div class="row">
    <div class="col-md-12">
        <table class="table" border="0">
            <tr>
                <td style="background-color: dimgray; font-size: 30px; color: white; padding: 15px; width: 10%" class="text-center">2°</td>
                <td style="background-color: white; color: dimgray; padding: 25px; font-size: 18px;"><label><span id="vice"></span></label></td>
            </tr>
        </table>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <button style="float: right; height: 50px; border-radius: 0; font-size: 10px; color: white; background-color: black;" class="btn btn-default" onclick="retornaInicio()">GERAR NOVO CAMPEONATO</button>
    </div>
</div>


