<div class="row">
    <div class="col-md-12">
        <div class="jumbotron jumbotron-custon text-center">
            <h4 class="fonte-secundaria text-lightgray">CAMPEONATO DE FILMES</h4>
            <h2 class="text-white"><strong>Resultado Final</strong></h2>
            <hr />
            <h5 class="text-white fonte-subtitulo">Veja o resultado final do Campeonato de filmes de forma simples e rápida.</h5>
        </div>
    </div>
</div>
