<div class="row">
    <div class="col-md-12">
        <div class="jumbotron jumbotron-custon text-center">
            <h4 class="fonte-secundaria text-lightgray">CAMPEONATO DE FILMES</h4>
            <h2 class="text-white"><strong>Fase de Seleção</strong></h2>
            <hr />
            <h5 class="text-white fonte-subtitulo">Selecione 8 filmes que você deseja que entrem na competição e depois pressione o<br />botão Gerar Meu Campeonato para prosseguir.</h5>
        </div>
    </div>
</div>